doctype html
html
  head
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    title= title
    link(rel='stylesheet', href='/stylesheets/profile.css')
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  body.yeah
    block content
      include navbar.pug
  .main-body
    .row.gutters-sm
      .col-md-4.mb-3
        .card
          .card-body
            .d-flex.flex-column.align-items-center.text-center
              img.rounded-circle(src='https://bootdey.com/img/Content/avatar/avatar7.png', alt='Admin', width='131')
              .mt-3
                h4= name
                p.text-secondary.mb-1= title
                p.text-muted.font-size-sm= address
        .card.mt-3
          ul.list-group.list-group-flush
            li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap
              h6.mb-0
                svg.feather.feather-github.mr-2.icon-inline(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22')
                | Github
              span.text-secondary= github
            li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap
              h6.mb-0
                svg.feather.feather-twitter.mr-2.icon-inline.text-info(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z')
                | Twitter
              span.text-secondary= twitter
            li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap
              h6.mb-0
                svg.feather.feather-instagram.mr-2.icon-inline.text-danger(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  rect(x='2', y='2', width='20', height='20', rx='5', ry='5')
                  path(d='M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z')
                  line(x1='17.5', y1='6.5', x2='17.51', y2='6.5')
                | Instagram
              span.text-secondary= instagram
            li.list-group-item.d-flex.justify-content-between.align-items-center.flex-wrap
              h6.mb-0
                svg.feather.feather-facebook.mr-2.icon-inline.text-primary(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24', fill='none', stroke='currentColor', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                  path(d='M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z')
                | Facebook
              span.text-secondary= facebook
      .col-md-8
        .card.mb-3
          .card-body
            .row
              .col-sm-3
                h6.mb-0 Full Name
              .col-sm-9.text-secondary= name 
            hr
            .row
              .col-sm-3
                h6.mb-0 Email
              .col-sm-9.text-secondary= email
            hr
            .row
              .col-sm-3
                h6.mb-0 Phone
              .col-sm-9.text-secondary= phone
                
            hr
            .row
              .col-sm-3
                h6.mb-0 Mobile
              .col-sm-9.text-secondary= phone
                
            hr
            .row
              .col-sm-3
                h6.mb-0 Address
              .col-sm-9.text-secondary= address
                
        .row.gutters-sm
          .col-sm-6.mb-3
            .card.h-100
              .card-body
                h6.d-flex.align-items-center.mb-3
                  i.material-icons.text-info.mr-2 Calories consumed
                small Select food
                    form#form2(action="/add-user-calories", method="post")
                        select.example(onchange='this.form.submit()', name="example")
                            option
                            each val in result1
                                option(name="food_name")= val.foodname
                p= all_food_names
                p= calories_counted
                form(action="/user-consumed", method="post")
                    input.box4(type="submit" value="Submit")
          .col-sm-6.mb-3
            .card.h-100
              .card-body
                h6.d-flex.align-items-center.mb-3
                  i.material-icons.text-info.mr-2 Last meals
                ul
                    li= last_meals
form(action="/search-user-calories", method="post")
  .col
    label Calories on date:
    p(style='color:white;')= calories_on_date
    input#start.da(type='date', name='calendar_date', min='2019-01-01', max='2023-12-31',onchange='this.form.submit()')
  div
    canvas#myChart
  p#Monday(value = graph[0])
  p#Tuesday(value = graph[1])
  p#Wednesday(value = graph[2])
  p#Thursday(value = graph[3])
  p#Friday(value = graph[4])
  p#Saturday(value = graph[5])
  p#Sunday(value = graph[6])

  p#Monday1(value = graph_labels[0])
  p#Tuesday1(value = graph_labels[1])
  p#Wednesday1(value = graph_labels[2])
  p#Thursday1(value = graph_labels[3])
  p#Friday1(value = graph_labels[4])
  p#Saturday1(value = graph_labels[5])
  p#Sunday1(value = graph_labels[6])

script.
  var Monday = document.getElementById('Monday').getAttribute('value');
  var Tuesday = document.getElementById('Tuesday').getAttribute('value');
  var Wednesday = document.getElementById('Wednesday').getAttribute('value');
  var Thursday = document.getElementById('Thursday').getAttribute('value');
  var Friday = document.getElementById('Friday').getAttribute('value');
  var Saturday = document.getElementById('Saturday').getAttribute('value');
  var Sunday = document.getElementById('Sunday').getAttribute('value');

  var Monday1 = document.getElementById('Monday1').getAttribute('value');
  var Tuesday1 = document.getElementById('Tuesday1').getAttribute('value');
  var Wednesday1 = document.getElementById('Wednesday1').getAttribute('value');
  var Thursday1 = document.getElementById('Thursday1').getAttribute('value');
  var Friday1 = document.getElementById('Friday1').getAttribute('value');
  var Saturday1 = document.getElementById('Saturday1').getAttribute('value');
  var Sunday1 = document.getElementById('Sunday1').getAttribute('value');

  const labels = [
    Sunday1,   
    Saturday1,   
    Friday1,    
    Thursday1,   
    Wednesday1,    
    Tuesday1, 
    Monday1
  ];
  Chart.defaults.font.size = 14;
  Chart.defaults.color = "white";
  const data = {
    labels: labels,
    datasets: [{
      label: 'Calorie tracker',
      fill: false,
      borderColor: 'white',
      backgroundColor:"white",
      data:[Sunday,Saturday,Friday,Thursday,Wednesday,Tuesday,Monday],
  }]
  };
  const config = {
    type: 'line',
    data,
    options:{}
  };
  var myChart = new Chart(document.getElementById('myChart'),config);